/* :root{
    /* Defining variable,root accessible */
     /* --success-color:#2ecc71;
    --error-color: #e74c3c;
}  */ */
*{
    box-sizing: border-box;
}
body{
    background-color:rgb(231, 151, 186);
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
}
.container{
    background-color: rgb(249, 239, 248);
    border-radius: 5px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0);
    width:400px ;
    max-width: 100%;
    overflow: hidden;

}
.header{
    background-color: #fadafa;
    padding: 20px 40px;
    border-bottom: 1px solid #e3dee3;
}
.header h2{
    margin: 0;
}
.form{
    padding: 10px 30px;
}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}
.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}
.form-control input{
    border: 2px solid #e3dee3;
    border-radius: 4px;
    display: block;
    width:100%;
    padding: 10px;
    font-size: 13px;

}
.form-control select{
    border: 2px solid #e3dee3;
    border-radius: 4px;
    display: block;
    width:100%;
    padding: 10px;
    font-size: 13px;

}
 .form-control.success input{ 
    border-color: rgb(80, 237, 132);
}
.form-control.error input{
    border-color: rgb(235, 27, 27);
 } 
.form-control i{
    position: absolute;
    top: 40px;
    right: 10px;
    /* visibility: hidden; */

}

.form-control small{
    position: absolute;
    visibility: hidden;
    left: 0;
    bottom: 0;
}
.form button{
    background-color: #f1b2f5;
    border: 2px solid white ;
    color: #fff;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
}
